			body {
				margin: 0px;
				padding: 0px;
				background: red;
			}
            .flex-container {
                display: flex;
                justify-content: space-between;
                float: left;
                }

            .flex-container > div {
                width: 300px;
                height: 600px;
                float: left;
            }
            .flex-container > div {
                width: 300px;
                height: 600px;
                background-image: url("icecream_neon.jpg");
                background-size: cover;
                background-position: center center;
            }
