body {
    background-color: rgb(0, 0, 0);
}
.container {
  height: 3rem;
}

.animation.active {
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 2;
}

.animation {
    color: rgb(253, 208, 223);
    font-size: x-large;
}

button {
    background-color: rgb(253, 208, 223);
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 12px;
    border: 2px solid rgb(252, 168, 224);
}

@keyframes slidein {
  from {
    transform: translateX(100%) scaleX(3);
  }
  to {
    transform: translateX(0) scaleX(1);
  }
}