*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    margin-top: 3rem;
    background: #dbabd4;
}

.addItems-container{
    background: #a84d91;
}

.addItems-container, .displayItems-container{
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    border: 2px solid #272932;
    box-shadow: 0 5px 10px #272932;
}

.addItems-title, .displayItems-title{
    text-transform: capitalize;
}

.addItems-title{
    color: #f3a5ec;
}

.addItems-action, .displayItems-action{
    border: 2px solid #272932;
    padding: 0.5rem 0;
    text-transform: capitalize;
    border-radius: 0.5rem;
    display: none;
}

.addItems-input{
    background: transparent;
    border: none;
    border-bottom: 5px solid #f3a5ec;
    width: 100%;
    font-size: 2rem;
    padding: 0.5rem;
    color: #780897;
    outline: none;
    text-transform: uppercase;
}

.addItems-submit,.displayItems-clear{
    display: block;
    width: 90%;
    margin: 2rem auto 0 auto;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
}

.addItems-submit{
    color: #f3a5ec;
    background: transparent;
    border: 3px solid #f3a5ec;
    transition: all 2s ease;
}

.addItems-submit:hover{
    background: #f3a5ec;
    color: #272932;
}

.displayItems-container{
    background: #f3a5ec;
}

.displayItems-title{
    color: #780897;
    margin-bottom: 0.25rem;
}

.grocery-item{
    display:grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 1s ease-in-out;
    margin: 0.5rem 0;
}

.grocery-item:hover{
    background: #780897;
}

.grocery-item__title{
    text-align: left;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #333;
}

.grocery-item__link{
    color: red;
    transition: all 2s linear;   
}

.grocery-item:hover .grocery-item__link{
    transform: scale(2);
}

.displayItems-clear{
    color: #780897;
    background: transparent;
    border: 3px solid #780897;
    transition: all 2s ease;
}

.displayItems-clear{
    background: #780897;
    color:#272932;
    outline:none;
    background: transparent;
}
/*Add utility action classes */
.alert{
    color: red;
    border-color: red;
    display: block;
    margin-bottom: 0.5rem;
}

.success{
    color:rgb(32, 184, 32);
    border-color: rgb(32, 184, 32);
    display: block;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px){
    body{
        grid-template-columns: 50%;
    }
}